*{
    margin:0;
    padding:0;
}
body{
    background-color: #262a2d;
}
.learn_con{
    height: auto;
}
.v_content{
    width: 1000px;
    height: 628px;
    background-color:#2e2e2e;
}
.v_head{
    padding:0px 20px;
    width: 960px;
    height: 55px;
    border-bottom: 1px solid black;
    float: left;
}
.v_head_d1{
    width: 256px;
    float: left;
    height:55px;
    color: #d1d1d1;
    font-size: 18px;
    line-height: 55px;
    text-align: center;
    font-family: 微软雅黑;
}
/*.v_head_d1 img{*/
    /*margin-top:20px;*/
/*}*/

.v_head_d2{
    width:150px;
    height: 55px;
    float: right;
    position: relative;
}
.v_head_d2 div{
    float: right;
}

.v_head_d2 img{
    width:45px;
    height:45px;
    border-radius: 30px;
}
.v_head_d3{
    width:45px;
    height:45px;
    margin-top: 5px;
    width:45px;
    height: 45px;
    float:left;
    position: relative;
}
.v_head_d3 img{
    position:absolute;
    width:45px;
    height:45px;
    border-radius: 30px;
    z-index: 22;
}
.v_head_d3 span{
    display: none;
    position:absolute;
    z-index: 45;
    font-size: 18px;
    font-family: 微软雅黑;
    font-weight:bold;
    top: 10px;
    left:5px;
    color:#666666 ;
}
.tri_up{
    float: right;
    width:0;
    height:0;
    margin-top: -6px;
    margin-right: 17px;
    border-width:0 5px 6px;
    border-style:solid;
    border-color:transparent transparent white;
}

.vhd2_dis_con{
    display: none;
    width:150px;
    background: white;
    height:120px;
    margin-top: 5px;
    z-index: 999;
    position: absolute;
    top: 53px;
}
.vhd2d_show{
    display: block;
}
.vhd2_dis_con ul{
    float: left;
    width:132px;
    /*padding:10px;*/
}
.vhd2_dis_con ul li{
    float: left;
    width:132px;
    border-bottom:1px solid #e4e4e4;
    list-style: none;
    padding:9px;
    font-size: 13px;
    color: #666666;

}
.v_left{
    width: 256px;
    height: 570px;
    float: left;
    border: 1px solid black;
}
.v_left div{
    float: left;
    height:50px;
    padding:0px 10px;
}
.v_left div span{
    line-height: 50px;
    float: left;
    margin-left: 10px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #8b8b8b;
}
.v_left ul{
    width:100%;
    float: left;

}
.v_left ul li{
    width:100%;
    height:40px;
    list-style: none;

    float: left;

}
.v_left ul li i{
    float: left;
    margin:14px 5px 0px 25px;
}
.v_left ul li span{
    line-height:40px;
    float: left;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #8b8b8b;
}
.v_con{
    width: 733px;
    height: 570px;
    float: left;
    border: 1px solid black;
}
